$vertical-menu-icon-width:              2rem !default;
$vertical-menu-line-height:             2.5rem !default;
$vertical-menu-padding-x:               2rem !default;

$vertical-menu-arrow-content-right:     "\f105" !default;
$vertical-menu-arrow-content-down:      "\f107" !default;
$vertical-menu-arrow-font-family:       FontAwesome !default;

$vertical-menu-light-bg:                white !default;
$vertical-menu-light-link-color:        rgba(117,117,117,.9) !default;
$vertical-menu-light-link-hover-bg:     rgba(33,33,33,.05) !default;
$vertical-menu-light-link-hover-color:  #424242 !default;
$vertical-menu-light-active-color:      black !default;
$vertical-menu-light-active-bg:         rgba(33,33,33,.03) !default;

$vertical-menu-dark-bg:                 black !default;
$vertical-menu-dark-link-color:         rgba(158,158,158,.9) !default;
$vertical-menu-dark-link-hover-bg:      rgba(255,255,255,.05) !default;
$vertical-menu-dark-link-hover-color:   rgba(255,255,255,.8) !default;
$vertical-menu-dark-active-color:       white !default;
$vertical-menu-dark-active-bg:          rgba(255,255,255,.03) !default;