.vertical-menu{
    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        &:before{
            content: "";
            display: block;
            height: .7rem;
        }

        &:after{
            content: "";
            display: block;
            height: .7rem;
        }

        ul{
            display:none;
        }
    }

    a {
        display: block;
        padding: 0 $vertical-menu-padding-x;
        line-height: $vertical-menu-line-height;
        white-space: nowrap;
        text-decoration: none;

        > i:first-child{
            width: $vertical-menu-icon-width;
            display: inline-block;
        }
    }

    li{
        &.show{
            > ul{
                display: block;
            }
        }
    }
}

.vertical-menu-parent{
    > a{
        &:before{
            content: $vertical-menu-arrow-content-right;
            font-family: $vertical-menu-arrow-font-family;
            float: right;
        }
    }

    &.show{
        > a{
            &:before{
                content: $vertical-menu-arrow-content-down;
            }
        }
    }
}

.vertical-menu-dark{
    background: $vertical-menu-dark-bg;

    li{
        &.show,
        &.active{
            background: $vertical-menu-dark-active-bg;
            > a{
                color: $vertical-menu-dark-active-color;
            }
        }
    }

    a{
        color: $vertical-menu-dark-link-color;

        &:hover,
        &:focus{
            color: $vertical-menu-dark-link-hover-color;
            background: $vertical-menu-dark-link-hover-bg;
        }
    }
}

.vertical-menu-light{
    background: $vertical-menu-light-bg;

    li{
        &.show,
        &.active{
            background: $vertical-menu-light-active-bg;
            > a{
                color: $vertical-menu-light-active-color;
            }
        }
    }

    a{
        color: $vertical-menu-light-link-color;

        &:hover,
        &:focus{
            color: $vertical-menu-light-link-hover-color;
            background: $vertical-menu-light-link-hover-bg;
        }
    }
}